* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
font-family: 'Inter', sans-serif;
}

.header{
    padding: 15px 0;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    background-color: #f55a5a;
}

.cards{
    display: flex;
    align-items: center;
        padding: 0 40px;
        padding-bottom: 20px;
}
.details{
    display: block;
}

.image{
    margin: 0 20px 0 0;
    height: 170px;
    width: 125px;
    border-radius: 5px;
    object-fit: cover;
}

.location-map{
    display: flex;
    align-items: center;
}
i{
    color: #f55a5a;
    font-size: 13px;
    margin-right: 5px;
}
.location{
    font-weight: 400;
    font-size: 12px;
    padding: 0 12px 0 0;
    letter-spacing: 0.17em;
    /* background-color: pink; */
}
.map-link{
    font-size: 10px;
    color: #918E9B;
}

.place{
    font-size: 25px;
    /* background-color: green; */
   
    margin-top: 7px;
}
.date-range{
    font-size: 10px;
    font-weight: 700;
    padding-bottom: 10px;
}

.description{
    font-size: 11px;
    line-height: 150%;
}
