body {
    margin: 52px;
    background-color: #1F2937;
}

.output{
    display: flex;
    justify-content: space-between;
}

.input{
    color: #55F991;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    background-color: #273549;
    width: 210px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
        outline: black;
}

button{
    color: white;
    height: 42px;
    width: 190px;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    outline: black;
}
button:hover{
    cursor: pointer;
}